#Hero-section{
    height: 400px;
    background-image: url(../images/image-banner.png);
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
     .yuki{
        display: flex;
        width: 100%;
        padding: 10px 200px;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: white;
        border-bottom: 1px solid gray;
        >div:nth-child(1){
           display: flex;
           justify-content: space-between;
           width: 330px;
           align-items: center;
       }
   }
}

@media only screen and (max-width: 600px) {
   #Hero-section >.yuki{
        padding:10px 50px;
    }
    ero-section >.yuki >h2 {
        font-size: 25px;
    }
    
  }


